* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    text-align: center;
    margin: 20px 0;
}

.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 1.5em;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

.experience-item {
    background-color: #f9f9f9;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out, transform 0.3s ease-out;
}

.experience-item:hover {
    transform: scale(1.02);
}

.experience-item.expanded {
    transform: scale(1.05);
}

.experience-item .experience-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-out;
    background-color: #e0f7fa;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

.visible {
    opacity: 1;
    transform: translateX(0);
}
